<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <base href="{{ baseURL }}">
        <title>Lloyds Banking App - {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">

        {# Custom styles #}
        <link rel="stylesheet" href="css/style.css">

        {# Bootstrap styles - available at: http://getbootstrap.com #}
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    {% endblock %}
</head>

<body>
    {# Contains top menu #}
    <header>
        <div class="row">
            <div class="logo col-md-3">
                <a href="{{ baseURL }}">
                    <img class="img-logo" alt="Application Logo" title="Application Logo" src="images/logo.gif"/>
                </a>
            </div>
            <nav class="login col-md-6 col-md-offset-3 text-right">
                <div class="navbar-collapse navbar-right collapse">
                    {# If a user is logged in #}
                    {% if loggedInUser %}
                        {# Administrator functions #}
                        {% if loggedInUser.accessLevel >= constant('ACCESS_LEVEL_ADMINISTRATOR') %}
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Admin Tools<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="admin/users"><span class="glyphicon glyphicon-user"></span> User Management</a></li>
                                        <li><a href="admin/pushmessages"><span class="glyphicon glyphicon-phone"></span> Push Messages</a></li>
                                        <li><a href="admin/emailmessages"><span class="glyphicon glyphicon-envelope"></span> Email Messages</a></li>
										<li class="divider"></li>
									    <li><a href="admin/activitylog"><span class="glyphicon glyphicon-list-alt"></span> Activity Log</a></li>
                                        <li><a href="admin/phpinfo"><span class="glyphicon glyphicon-usd"></span> PHP Info</a></li>
                                    </ul>
                                </li>
                            </ul>

                        {# User functions #}
                        {% else %}
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="achievements"><span class="glyphicon glyphicon-education"></span> Achievements</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="leaderboards"><span class="glyphicon glyphicon-stats"></span> Leaderboards</a>
                                </li>
                            </ul>
                        {% endif %}

                        {# Logout button #}
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ loggedInUser.firstName }} {{ loggedInUser.surname }}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    {# Show product info links if not logged in #}
                    {% else %}
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="about"><span class="glyphicon glyphicon-info-sign"></span> About</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#features"><span class="glyphicon glyphicon-ok-circle"></span> Features</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

    <section class="container">
        {# Error messages #}
        {% if errorMessages %}
            <div id="error-messages">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {% for errorMessage in errorMessages %}
                            <div class="alert alert-danger" role="alert">
                                <p><span class="glyphicon glyphicon-info-sign"></span> {{ errorMessage }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Success messages #}
        {% if successMessages %}
            <div id="success-messages">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {% for successMessage in successMessages %}
                            <div class="alert alert-success" role="alert">
                                <p><span class="glyphicon glyphicon-check"></span> {{ successMessage }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Information messages #}
        {% if infoMessages %}
            <div id="info-messages">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {% for infoMessage in infoMessages %}
                            <div class="alert alert-info" role="alert">
                                <p><span class="glyphicon glyphicon-info-sign"></span> {{ infoMessage }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </section>

    <footer>
        {% block footer %}
            <div class="contact row">
                <div class="col-md-6">
                    <ul>
                    <li>Contact us: <a href="mailto:csc2-team19@ncl.ac.uk">csc2-team19@ncl.ac.uk</a></li>
                    <li>Contact Lloyds: <a href="http://www.lloydsbank.com/contact-us.asp">http://www.lloydsbank.com/</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Legal: <a href="http://www.lloydsbank.com/legal/site-terms-and-conditions.asp">Terms and Conditions</a></li>
                        <li>Meet the: <a href="team">Team</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
    </footer>

    {# JQuery & Bootstrap scripts #}
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>