{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" action="login" method="POST">
                <fieldset>

                    {# Form name #}
                    <legend>Login</legend>

                    {# Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="username">Username</label>
                        <div class="col-md-5">
                            <input id="username" name="username" type="text" placeholder="eg. john.smith@ncl.ac.uk" value="{{ username }}" class="form-control input-md" required="">
                        </div>
                    </div>

                    {# Password input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Password</label>
                        <div class="col-md-5">
                            <input id="password" name="password" type="password" placeholder="" value="{{ password }}" class="form-control input-md" required="">
                        </div>
                    </div>
                    
                    {# Security digit one input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="secDigOne">Security Digit {{ digitOne }} </label>
                        <input id="digitOne" name="digitOne" type="hidden" value="{{ digitOne }}">
                        <div class="col-md-2">
                            <input id="secDigOne" name="secDigOne" maxlength="1" type="password" placeholder="" value="{{ secDigOne }}" class="form-control input-md" required="">
                        </div>
                    </div>
                    
                    {# Security digit two input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="secDigTwo">Security Digit {{ digitTwo }} </label>
                        <input id="digitTwo" name="digitTwo" type="hidden" value="{{ digitTwo }}">
                        <div class="col-md-2">
                            <input id="secDigTwo" name="secDigTwo" maxlength="1" type="password" placeholder="" value="{{ secDigTwo }}" class="form-control input-md" required="">
                        </div>
                    </div>
                    
                    {# Security digit three input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="secDigThree">Security Digit {{ digitThree }} </label>
                        <input id="digitThree" name="digitThree" type="hidden" value="{{ digitThree }}">
                        <div class="col-md-2">
                            <input id="secDigThree" name="secDigThree" maxlength="1" type="password" placeholder="" value="{{ secDigThree }}" class="form-control input-md" required="">
                        </div>
                    </div>

                    
                    

                    {# Login button #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="login"></label>
                        <div class="col-md-5">
                            <button id="login" name="login" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                        </div>
                    </div>

                    {# Register button #}
                    <p><a href="register">Create new account</a></p>

                </fieldset>
            </form>


        </div>
    </div>

{% endblock %}