{% extends "base.twig" %}

{% block title %}User Management{% endblock %}

{% block content %}
    <div class="page-header">
        <a href="admin/createuser" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-user"></span> Create User
        </a>
        <h1>User Management</h1>
    </div>

    {% if users %}
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th class="col-md-1">ID</th>
                <th class="col-md-2">First name</th>
                <th class="col-md-2">Last name</th>
                <th class="col-md-2">Email address</th>
                <th class="col-md-2">Access level</th>
                <th class="col-md-3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><strong>{{ user.id }}</strong></td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.accessLevel == constant('ACCESS_LEVEL_USER') %}
                            User
                        {% elseif user.accessLevel == constant('ACCESS_LEVEL_ADMINISTRATOR') %}
                            Administrator
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td nowrap class="text-center">
                        <a href="admin/bankaccounts/{{ user.id }}" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-piggy-bank"></span> Bank Accounts
                        </a>
                        <a href="admin/edituser/{{ user.id }}" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                        <a href="admin/deleteuser/{{ user.id }}" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {# Something very strange has happened if we end up here... #}
        <div class="alert alert-info" role="alert">
            <p><span class="glyphicon glyphicon-info-sign"></span> There are currently no registered users.</p>
        </div>
    {% endif %}
{% endblock %}